@{
    ViewBag.Title = "Project Information";
    Layout = "_Layout";
}

@section Scripts {
    <script src="~/dist/home.entry.js" defer></script>
    <script src="~/dist/site.entry.js" defer></script>
}

<div>
    <!-- TODO tekst veranderen-->
    
    <h1>Privacy Policy</h1>
    <h2>Introduction</h2>
        Welcome to Phygital, a .NET MVC application designed to facilitate engaging and interactive surveys. In this App, participants wear colored hats, and our system uses face recognition technology to identify the color of the hats and record the survey responses accordingly. We are committed to protecting your privacy and ensuring that your personal data is handled securely and responsibly.
    <br/>

    <h2>Information We Collect</h2>
        1. Hat Color Recognition
        Our App uses face recognition technology solely to identify the color of the hats worn by participants. This technology enables us to associate survey responses with the color of the hats. Importantly, we do not use or store any facial data.

        2. Survey Responses
        We collect and store the responses you provide during the survey. These responses are associated with the color of your hat, not with any personally identifiable information.

        3. Non-Personal Data
        In addition to survey responses, we may collect non-personal data such as device information, IP address, browser type, and usage data. This information helps us improve the functionality and user experience of our App.
<br/>
    <h2>How We Use Your Information</h2>
        Survey Responses: To analyze and interpret survey results based on the color of the hats.
        App Improvement: To enhance the performance, features, and user experience of our App.
        Security: To protect against and prevent fraudulent activities and misuse of our App.
        Data Storage and Security
        We employ robust security measures to protect the data we collect and store. These measures include encryption, access controls, and regular security assessments to safeguard against unauthorized access, alteration, disclosure, or destruction of your data.
    <br/>

    <h2>Data Sharing and Disclosure</h2>
        We do not share, sell, or lease your personal data to third parties. The data collected through the App is used exclusively for the purposes outlined in this Privacy Policy.
    <br/>

    <h2>Data Retention</h2>
        Survey responses and associated data are retained for as long as necessary to fulfill the purposes for which they were collected. Non-personal data may be retained for a longer period for analytics and App improvement purposes.
    <br/>

    <h2>Your Rights</h2>
    You have the right to:
    <br/>
        Access: Request access to the data we hold about you.
        Rectification: Request corrections to any inaccurate or incomplete data.
        Deletion: Request the deletion of your data, subject to certain conditions.
        Objection: Object to the processing of your data in certain circumstances.
        To exercise these rights, please contact us at the contact information provided below.
    <br/>

    <h2> Changes to This Privacy Policy</h2>
        We may update this Privacy Policy from time to time. When we make changes, we will notify you by revising the date at the top of this policy. We encourage you to review this policy periodically to stay informed about how we are protecting your information.
    <br/>

    <h2>Contact Us</h2>
        If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at:
<br/>
    Email: info@levuur.be
    <br/>
    Phone number: 0469 418 545
    <br/>
        Address: M. Theresiastraat 123,  3000 Leuven
<br/>
        Thank you for using our Survey Application. Your privacy is important to us, and we are committed to protecting your data and ensuring a secure and enjoyable survey experience
</div>

