$password-strength-color-strong: green;
$password-strength-color-medium: orange;
$password-strength-color-weak: red;
$password-requirement-color-invalid: red;
$password-requirement-color-valid: green;

.password-strength {
  margin-top: 5px;
  font-weight: bold;

  &.strong {
    color: $password-strength-color-strong;
  }

  &.medium {
    color: $password-strength-color-medium;
  }

  &.weak {
    color: $password-strength-color-weak;
  }
}

.password-requirements {
  list-style-type: none;
  padding: 0;

  li {
    color: $password-requirement-color-invalid;

    &.valid {
      color: $password-requirement-color-valid;
    }
  }
}
